/* фон */
.wrapper {
  background-color: #001821;
}

.wrapper__main-back {
	background:
	url("./../../img/asia_back.png") center top no-repeat,
	url("./../../img/asia_back2.png") center bottom 165px no-repeat;
}

.header {
  height: 80px;
  padding-top: 30px;
}

.container {
	height: 100%;
	width: 100%;
	max-width: 1142px;
	margin: 0 auto;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__col {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__col--align--right {
  justify-content: flex-end;
}

.logo {
  display: block;
}

.logo__pic {
  width: 85px;
  height: 36px;
}

.menu {
  margin-left: 80px;
  width: 264px;
  height: 19px;
}

.menu__list {
  display: flex;
  justify-content: space-between;
}

.menu__item {
  font-size: 14px;
  line-height: 16.41px;
}

.menu__link {
  font-size: 14px;
  line-height: 16.41px;
}

.menu__item:last-child {
  margin-right: 0px;
}

.menu__item .menu__link:hover {
  color: #DA0100;
}

.contacts {
  text-align: right;
}

.contacts__phone {
 font-size: 26px;
 line-height: 30.47px;
 font-style: normal;
}

.contacts__workhours {
  font-size: 13px;
  line-height: 20px;
  text-decoration: underline;
  cursor: pointer;
}
